<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  autoReload="true"
		  internalLogLevel="Info">
		<extensions>
			<add assembly="NLog.Web.AspNetCore"/>
		</extensions>
    <targets>
      <target
        name="logTrace"
        xsi:type="File"
        fileName="Logs\${shortdate}.log"
        keepFileOpen="true"
        concurrentWrites="true"
        maxArchiveFiles="1"
        layout="${longdate} ${level:uppercase=true} => ${message}"/>
      <target
        name="logException"
        xsi:type="File"
        fileName="Logs\${shortdate}.log"
        keepFileOpen="true"
        concurrentWrites="true"
        maxArchiveFiles="1"
        layout="${longdate} ${level:uppercase=true} =>              
              ${exception:format=message}
              ${exception:format=StackTrace}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="logTrace"/>
      <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="logException" />
    </rules>
	</nlog>
</configuration>